body {
    background-image: url(hotel-wallpaper.png); /* Background pattern from Toptal Subtle Patterns */
}
:root {
    font-family: 'Montaga', serif;
}

#game-board {
    background-color: antiquewhite;
    margin: auto;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-style: double;
}

.cell {
    border: 0.5px black solid;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 100px;
}

h1 {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    color: brown;
}

#author {
    width: 100%;
    position: fixed;
    bottom: 20px;
    text-align: center;
}

form {
    border: 3px double burlywood;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.7);
    height: 200px;
    display: grid;
    grid-template-columns: 150px 150px;

}

label {
    margin: auto;
    padding: 5px;
    border: 2px double burlywood;
    background-color: brown;
    color: burlywood;;
}
input {
    height: 30px;
    margin: auto;
}
#startBtnDiv {
    width: 100%;
    text-align: center;
}

#backBtnDiv {
    
    text-align: center;
}
#startBtn {

    margin-top: 30px;
}
#backBtn {
    margin: 20px;
}
button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-image: linear-gradient(burlywood, bisque);
    border: 1px outset antiquewhite;
    color: brown;
    font-size: 20px;
}